/* h1{
    text-align: center;
}
p{
    font-size: 20px;
    color: blue;
    margin-left: 16%;
    margin-right: 16%;
}
img{
    width: 100%;
}
li{
    color:blueviolet;
} */
.jumbotron{
    background-color: burlywood;
}